<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82515951865-jmpck1tnudhvardiqg0e2o6teeostape.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82515951865-jmpck1tnudhvardiqg0e2o6teeostape</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>82515951865-iblt1ln8ru3dniv89rika8mm03ttbivu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyARQ2rpehqaxUXDoo87OPjxnwVecc7KhGg</string>
	<key>GCM_SENDER_ID</key>
	<string>82515951865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edmt.dev.flutterBookingApp</string>
	<key>PROJECT_ID</key>
	<string>flutterbookingapp-6a729</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterbookingapp-6a729.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82515951865:ios:61b9f2112f113ed3466228</string>
</dict>
</plist>